@mixin transition($duration) {
	-webkit-transition: all $duration ease-in;   
	-moz-transition: all $duration ease-in;   
	-o-transition: all $duration ease-in;  
	-ms-transition: all $duration ease-in; 
	transition: all $duration ease-in;
}

html.js.csstransforms {
	.feature .item {
		opacity: 0;
		&.ani-scale {
			opacity: 1;
		}
	}

	.ani-scale {
	    @include transition(0.5s); 
	}

}