@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


@import '_animate';

@import '_button';

@import '_flexslider';

@import '_parallax';

@import '_prettyphoto'; 

@import '_section';

