.parallax {
    background-position: 50% 50%;
    background-size: cover;

    text-align: center;

    width: 100%;
    height: auto;

    padding: 0;
    position: relative;

    &.active {
        background-attachment: fixed;
    }
    .container {
    	padding: 90px 0px;
    }

    &.empty {
        padding: 150px 0px
    } 
}

//Example of parallax
#para_ex {
	background-image: url('../img/background/tablet/02_Background_image_2.jpg');
}